body{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    color: #020202;
}

.blueUnderline{
    text-decoration: underline #0ea5e9 5px;
}

.btn_boldBlue{
    background-color: #0ea5e9;
    color: white;
    border: none;
    padding: 15px 30px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 1px 1px 5px grey;
}

#HeroSection{
    background-image: url("img/faded-office.png");
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: fit-content;
    min-width: fit-content;
    padding: 100px 80px 100px 110px;
}

#Title{
    width: 350px;
    font-size: 50px;
    font-weight: 800;
    margin: 0;

} 

#Tagline{
  width: 350px;  
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 600;
}  
